*{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.header {
	width: 100vw;
	background-color: #111;
	color: #FFF;
	position: fixed;
	z-index: 1;
}

.header__container {}
.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 50px;
	margin: 0 10px;
}

.header__logo {
	font-size: 1.5em;
}
.header__logo_a {
	font-weight: 100;
	text-decoration: none;
	color: #EEE;
	transition: 500ms;
}
.header__logo_a:hover{
	color: #f6e58d;
}
.header__nav {}
.header__nav_ul {
	display: flex;
	justify-content: space-between;
}
.header__nav_li {
	list-style-type: none;
	width: 100px;
	text-align: center;
}
.header__nav_item {
	text-decoration: none;
	color: #EEE;
	display: block;
	padding: 5px 20px;
	transition: 500ms;
}

.header__nav_item:hover, .header__nav_li_active {
	background-color: #222;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	transform: translateZ(10px);
}


.background {
	background-image: url(https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.main {}
.main__container {}
.main__row {
	/*background-color: rgba(0,0,0,0.5);*/
	overflow: hidden;
}

.main__items {
	padding: 20% 0;
}
.main_text, .main_name {
	color: #EEE;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
}

.main_text {
	font-size: 5em;
	animation-name: mainAnimation;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}
.main_name {
	font-size: 3em;
	animation-name: mainAnimation;
	animation-duration: 3s;
	animation-timing-function: ease-out;
}

@keyframes mainAnimation {
	0% {
		transform: translateY(1000px);
		opacity: 0;
	}

	100% {
	 	opacity: 1;
		transform: translateY(0); }
}

.content {
	background-color: #333;
	flex: 1 0 auto;
	padding: 2% 0 0 0;
}
.content__container_portfolio {
	max-width: 1320px;
	margin: 0 auto;
}
.content__row {
	padding: 10% 5%;
}

.content__header {
	color: #EEE;
	text-align: center;
	font-weight: 500;
	font-size: 3.5em;
}
.content__portfolio_header {
	margin: 10px 0;
}

.content__portfolio_container {
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
}
.content__portfolio_item {
	padding: 0 10px;
	max-width: 30%;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	transition: 500ms;
}

.content__portfolio_item:hover{
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.content__portfolio_img_container {
	text-align: center;
	max-width: 100%;
	margin: 10px;
}
.content__portfolio_img {
	text-align: center;
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.content__portfolio_text {
	text-align: justify;
	color: #EEE;
	line-height: 20px;
}

.content__row_second {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	background-color: #2d2d2d;
}

.content__container_contacts {
	max-width: 1320px;
	margin: 0 auto;
}

.content__contacts_header {
	margin: 10px 0;
}
.content__contacts_container {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content__contacts_text {
	text-align: center;
	color: #EEE;
	margin: 0 10px 15px;
	line-height: 20px;
}
.content__contacts_icons {
	display: flex;
	justify-content: space-around;
}
.content__contacts_icons_item {
	border: 1px solid #EEE;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	margin: 0 10px;
	padding: 11px;
	transition: 500ms;
	user-select: none;
}

.content__contacts_icons_item:hover{
	box-shadow: 0px 0px 10px 0px rgba(155,155,155,0.75);
	cursor: pointer;
}



.content__row_about {
	padding: 10% 5% 5%;
}
.content__container_about {
	margin: 0 0 100px 0;
}
.content__about_header {
	margin: 20px 0;
}
.content__about_container {
	display: flex;
}

.content__about_main {
	flex: 0 0 100%;
	display: flex;
}
.content__about__main_container {
	max-width: 1360px;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.content__about__main_body {
	width: 50%;
	padding: 50px 20px 50px 0;
	color: #EEE;
}
.content__about__main_title {
	font-size: 20px;
	margin: 5px;
}
.content__about__main_text {
	line-height: 22px;
}
.content__about_image {
	flex: 0 0 50%;
	transform: translate(-100%, 0px);
}
.content__about_image img {
	max-width: 100%;
	border-radius: 5px;
}


.footer {
	flex-shrink: 0;
	background-color: #0d0d0d;
	color: #DDD;
}
.footer__container {}
.footer_text {
	text-align: center;
	font-size: 15px;
	padding: 10px;
}