*{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	box-sizing: border-box;
}

.wrapper {}
.header {
	width: 100vw;
	background-color: #111;
	color: #FFF;
}

.header__container {}
.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 50px;
	margin: 0 10px;
}

.header__logo {
	font-size: 20px;
}
.header__logo_a {
	font-weight: 100;
	text-decoration: none;
	color: #EEE;
	transition: 500ms;
}
.header__logo_a:hover{
	color: #f6e58d;
}
.header__nav {}
.header__nav_ul {
	display: flex;
	justify-content: space-between;
}
.header__nav_li {
list-style-type: none;
}
.header__nav_item {
	text-decoration: none;
	color: #FFF;
	display: block;
	padding: 5px 20px;
	transition: 500ms;
}

.header__nav_item:hover, .header__nav_li_active {
	background-color: #222;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	transform: scaleZ(2);
}


.background {
	background-image: url(https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}